{% extends 'base_content.html' %}
{% block title %}
| Password Reset
{% endblock %}
{% block content %}
{% if form %}
    <h1>
        Please enter your new password
    </h1>

    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Update Password" class="btn btn-primary">
    </form>
{% else %}
    <h1>
        Invalid Link
    </h1>
    <a>Your link has expired or is invalid</a><br>
    <a href="{% url 'password_reset' %}">Reset Password</a>
{% endif %}
{% endblock %}