<div class="accordion" id="accordion" style="padding-bottom: 2%;">
    <div class="accordion-item" id="accordion-item-one">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #47235e ;">
          <h2>Your Spending Progress</h2>
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
        <div class="accordion-body" style="color: #47235e ;">
          Here you can see the percentage you have spent from your budgets. Your category budgets may have different tracking periods to your overall budget. 
        </div>
      </div>
    </div>
  </div>

