<nav class="navbar navbar-expand-lg navbar-light custom-nav">
    <div class="container">
      <img src="static/leaf.svg" alt="icon" style="height: 30px; width: 30px; fill: #7EDBB0;">
        <a class="navbar-brand" href="{% url 'home' %}">minted</a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
          {% include 'partials/user_menu.html' %}
        {% else %}
          {% include 'partials/homepage_menu.html' %}
        {% endif %}
    </div>
</nav>