<div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{% url 'create_category' %}">Categories</a>
        <a class="nav-link" href="#">Stuff</a>
        <a class="nav-link" href="#">Stuff</a>

    </div>

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'profile' %}">View Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
