<div class="collapse navbar-collapse" id="navbarSupportedContent">

    {% if request.user.is_staff %}
    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{% url 'rewards_list' %}">Rewards List</a>
    </div> 
    {% else %}
    <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <a class="nav-link" href="{% url 'category_list' %}">Categories</a>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Rewards</a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{% url 'rewards' %}">All Rewards</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'my_rewards' %}">My Rewards</a></li>
            </ul>
        </li>
        <a class="nav-link" href="{% url 'view_analytics' %}">Analytics</a>
        <a class="nav-link" href="{% url 'points_leaderboard' %}">Leaderboard</a>
        {% if request.user.points %}
            <a class="nav-link text-black">Points: {{request.user.points}}</a>
        {% else %}
            <a class="nav-link text-black">Points: 0</a>
        {% endif %}
    </div>
    {% endif %}

    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi-person-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class = "dropdown-item" href = "{% url 'profile' %}"> Profile </a></li>
                <li><a class = "dropdown-item" href = "{% url 'friend_list' %}"> Friends </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
        </li>
    </ul>
</div>
