{% extends 'base_content.html' %}
{% block content %}
<div class="container-fluid">
    <div class="card border-light mb-3">
        <div class="card text-center"> 
            <div class="card-body">
                <h3 class="card-title" style="margin-top: 0.5rem; margin-left: 1.0rem"><b>{{ reward.brand_name }}</b></h3>
                <h6 class="card-subtitle" style="margin-left: 1.0rem">{{ reward.description }}</h6>
                <br>
                <h6 class="card-body">Enter this code at checkout to benefit from the discount</h6>
                <div class="card text-center">
                    {% if reward_claim.claim_code is None %}
                    <img src="{{ reward_claim.claim_qr.url }}" width="300" height="300" style="display: block; margin: auto;">
                    {% else %}
                    <h3 class="card-body">{{ reward_claim.claim_code }}</h3>
                    {% endif %}
                </div>
                <br>
                <h6 class="card-body">This code will be stored in your profile</h6>
                <a type="button" class="btn btn-dark" href="{% url 'rewards' %}">Back to Rewards</a>
                <a type="button" class="btn btn-dark" href="{% url 'my_rewards' %}">My Rewards</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}