<div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ reward.cover_image.url }}" class="img-fluid rounded-start" style="object-fit: cover">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ reward.brand_name }}</h5>
          <p class="card-text">{{ reward.description }}</p>
          <div class="card-text">
            <small class="text-muted">Expires on {{ reward.expiry_date }}</small>
          </div>
        </div>
      </div>
    </div>
</div>