{% extends 'base_content.html' %}
{% block title %}
| Log In
{% endblock %}
{% block content %}
{% load socialaccount %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 offset-md-3">
            <div class="h1 mb-5" style="font-weight: 800;">Log in</div>
            <form action="{% url 'log_in' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {% include 'partials/bootstrap_form.html' with form=form %}
                <input type="submit" value="Log in" class="btn btn-lg custom-button">
            </form>
            <div style="padding-top: 2%;">
                Don't have an account? <a href="{% url 'sign_up' %}"> Sign Up</a>
            </div>
            <div style="padding-top: 2%">
                Forgot Password? <a href="{% url 'password_reset' %}">Reset Password</a>
            </div>
            <hr>
            <form action="{% provider_login_url 'google' %}" method="post">
                {% csrf_token %}
                <button class="btn btn-lg custom-button" type="submit">Continue with Google</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
