{% extends 'base_content.html' %}
{% block title %}
| {{ category.name }} Expenditures
{% endblock %}
{% block content %}
<div class="container vh-100">
    <a href="{% url 'category_list' %}">All Categories</a>
    <div class="card border-light mb-3" style="margin-top: 0.5rem">
        <div class="card-body">
            <h5 class="card-title" style="margin-top: 0.5rem; margin-left: 0.5rem">{{ category.name }}</h5>
            <a href="{% url 'add_expenditure' category.name %}" class="btn btn-light" role="button" style="margin-top: 0.5rem; margin-bottom: 0.5rem; margin-left: 0.5rem;">
                <i class="bi bi-plus-lg"></i>
                Add expenditure
            </a>
            <table class="table table-borderless">
                {% for expenditure in expenditures %}
                   {% include 'expenditures/partials/expenditures_layout.html' with expenditure=expenditure %}
                {% endfor %} 
            </table>
        </div>
    </div>
</div>
{% endblock %}