.container{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.navbar-brand {
  color: #d462a1;
  font-weight: 800;
  font-size: 40px;

}
.custom-nav{
  padding-left: 80px;
  padding-right: 80px;
  color: #C8E3DF;
}

.nav-link{
  color: #d462a1;
  font-weight: 800;
}

.bold-pink{
  color: #d462a1;
  font-weight: 800;
}


.custom-bg{
  background: #72e0ad;
  height:100%;
  min-height:100vh;
}

.custom-button{
  background-color: #d462a1; 
  color: white; 
  border-radius: 18px;
}

.custom-button:hover{
  background-color: #47235e; 
  color: white; 
  
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body{
  color: #47235e;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

i.bi-person-circle {
  font-size: 2rem;
  color: #d462a1;
}

a {
  color:  #d462a1 ;
}

a:hover {
  color: #47235e;
}

@media (max-width: 767px) {
  .card-body {
    padding: 10px;
  }
  canvas {
    font-size: 12px;
  }
}
