{% extends 'leaderboards/base_leaderboard.html' %}
{% block title %}
| Points Leaderboard
{% endblock %}
{% block table %}
</thead>
<tr>
  <td style = "text-align:center"> Rank </td>
  <td style = "text-align:center"> User </td>
  <td style = "text-align:center"> Points </td>
</tr>
{% for user in users %}
<tr>
  <td style = "text-align:center"> {{ forloop.counter }} </td>
  <td style = "text-align:center"> {{ user }} </td>
  <td style = "text-align:center"> {{ user.points }} </td>
</tr>
{% endfor %}
{% endblock %}