{% extends 'base_content.html' %}
{% block title %}
| Analytics
{% endblock %}
{% block content %}
{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js" integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'chartjs_chart_generators.js' %}"></script>

<div class="container " style="font-size: large;" >
  <h1 style="padding-bottom: 2%; font-weight:800;">Analytics</h1>
  <form action="{% url 'view_analytics' %}" method="post" class="row g-2 align-items-center">
    {% csrf_token %}
    {% include 'partials/bootstrap_form.html' with form=form %}
    <div class="col-auto">
      <input type="submit" value="Update" class="btn btn-lg custom-button">
    </div>
  </form>
</div>


<section class="p-5">
  
  {{ colours|json_script:"colours"  }}
  {{ category_pie_chart_data|json_script:"categoryPieChartData" }}
  {{ category_line_chart_data|json_script:"lineChartData" }}
  {{ time_interval|json_script:"timeInterval"}}
  {{ start_date|json_script:"startDate"}}
  {{ end_date|json_script:"endDate"}}

  <div class="container">
    {% if stats.budget|length > 1 %}
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col">
        <div class="card bg-light">
          <div class="card-body text-center">
            <canvas id="pie-chart"></canvas>
          </div>
        </div>
      </div>
      <div class="col">  
        <div class="card bg-light">
          <div class="card-body text-center">
            <canvas id="line-graph"></canvas>
          </div>
        </div>
      </div>
    </div>
    {% else %}
    <div class="card bg-light">
      <div class="card-body text-center">
        <h4> You have no graph data to view. Create some categories and add expenditures to get started! </h4>
      </div>
    </div> 
    {% endif %}
    
  </div>
</section>

<section>
  <div class="container" style="padding-bottom: 2%;">
    <div class="accordion" id="accordion" style="padding-bottom: 2%;">
      <div class="accordion-item" id="accordion-item-one">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: #47235e ;">
            <h2>Your Spending Progress</h2>
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
          <div class="accordion-body" style="color: #47235e ;">
            Here you can see the percentage you have spent from your budgets. Your category budgets may have different tracking periods to your overall budget. 
          </div>
        </div>
      </div>
    </div>

    {% if stats.budget|length > 1 %}
    <div class="card bg-light" style="padding-bottom: 2%;">

      {%if stats.budget%}
      {% for spendings in stats.budget %}
      <div class="p-3">
        
        <div class="accordion" id="accordion" style="padding-bottom: 2%;">
          <div class="accordion-item" id="accordion-item">
            <h2 class="accordion-header" id="heading">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ spendings.name }}"  aria-controls={{ spendings.name }} style="color: #47235e ;"> 
                  <div class="row">
                    <div class="col-12">
                      <h3><b>{{ spendings.name }}</b></h3>
                    </div>
                  </div>
              </button>
            </h2>
            <div id={{ spendings.name }} class="accordion-collapse collapse" aria-labelledby={{ spendings.name }} data-bs-parent="#accordion">
              <div class="accordion-body" style="color: #47235e ;">
                <div class="card-body text-center">
                  <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <h5>{{ spendings.spent_text}}</h5>
                    </div>
                    <div class="col">
                      <h5>Budget Start Date: <b>{{ spendings.start_date }}</b></h5>
                    </div>
                    <div class="col">
                      <h5>Budget End Date: <b>{{ spendings.end_date }}</b></h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="progress custom-progress-bar" style="height: 30px; border-radius: 10px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated
                         {% if spendings.percentage_spent < 70 %}
                         bg-success
                         {% elif spendings.percentage_spent < 90 %}
                         bg-warning
                         {% else %}
                         bg-danger
                         {% endif %}"
                         style="width: {% if spendings.percentage_spent <= 100 %}{{ spendings.percentage_spent }}{% else %}100{% endif %}%;"
                         aria-valuenow="{{ spendings.percentage_spent }}" 
                         aria-valuemin="0" 
                         aria-valuemax="100">
        
              {{ spendings.percentage_spent }}%
        
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
    {% endif %}
  </div>

  <div class="container">
    <div class="accordion" id="accordion-two" style="padding-bottom: 2%;">
      <div class="accordion-item" id="accordion-item-two">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" style="color: #47235e ;">
            <h2>View Your Spending Stats</h2>
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#accordion">
          <div class="accordion-body" style="color: #47235e ;">
            <div class="card-body text-center p-4 ">
            {% if stats%}
            {%if stats.extreme_labels.max_labels%}
                <h5>Between {{ start_date }} and {{ end_date }}, you have overall spent the most on
                  {% for category in stats.extreme_labels.max_labels %}
                    <b>{{ category }}</b>
                    {% if forloop.counter != stats.extreme_labels.min_labels|length and stats.extreme_labels.max_labels|length > 1%}
                      and
                    {% endif %}
                  {% endfor %}
                </h5>
            {% endif %}
  
  
              {%if stats.extreme_labels.min_labels%}
                <h5>Between {{ start_date }} and {{ end_date }}, you have overall spent the least on
                  {% for category in stats.extreme_labels.min_labels %}
                    <b>{{ category}}</b>
                    {% if forloop.counter != stats.extreme_labels.min_labels|length and stats.extreme_labels.min_labels|length > 1%}
                      and
                    {% endif %}
                  {% endfor %}
                </h5>
              {% endif %}
              
              {%if stats.categories_on_budget_percentage%}
              <h5> You are currently on budget for <b>{{stats.categories_on_budget_percentage}}%</b> of your categories </h5>
              {% endif %}
              {%if stats.percent_of_budget_remaining%}
              <h5> You currently have <b>{{stats.percent_of_budget_remaining}}%</b> of your overall budget left </h5>
              {% endif %}

              {%if stats.total_spending%}
              <h5> Since joining Minted, you have spent <b>£{{stats.total_spending}}</b></h5>
              {% endif %}

              {%if stats.total_spending_between_dates%}
              <h5> Between {{ start_date }} and {{ end_date }}, you have spent <b>£{{ stats.total_spending_between_dates }}</b></h5>
              {% endif %}

              {%if stats.biggest_purchase%}
              <h5> Your biggest purchase since joining minted has been <b>£{{ stats.biggest_purchase.amount}}</b> on 
                {% for name in stats.biggest_purchase.names %}
                    <b>{{ name}}</b>
                    {% if forloop.counter != stats.biggest_purchase.names|length and stats.biggest_purchase.names|length > 1%}
                      and
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </h5>
              </div>
            {% else %}
            <h4>You have no stats yet. Start making categories and add expenditures to them to get started!</h4>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

</section>



<script>
  
  var category_pie_chart_data = JSON.parse(document.getElementById('categoryPieChartData').textContent);
  var category_line_chart_data = JSON.parse(document.getElementById('lineChartData').textContent);
  var colours = JSON.parse(document.getElementById('colours').textContent);
  var time_interval = JSON.parse(document.getElementById('timeInterval').textContent);
  var start_date = JSON.parse(document.getElementById('startDate').textContent);
  var end_date = JSON.parse(document.getElementById('endDate').textContent);
  colours.push("#000000");
  
  var line_config = create_line_chart_config(category_line_chart_data.datasets, category_line_chart_data.labels, colours, time_interval, start_date, end_date)
  var pie_chart_config = create_pie_chart_config(category_pie_chart_data.data, category_pie_chart_data.labels, colours)


  window.onload = function() {
    var category_pie_chart = document.getElementById('pie-chart').getContext('2d');
    window.myPie = new Chart(category_pie_chart, pie_chart_config);

    var category_line_chart = document.getElementById('line-graph').getContext('2d');
    window.myLine = new Chart(category_line_chart, line_config);

  }

</script>


{% endblock %}
