{% extends 'base_content.html' %}
{% block title %}
| Budgets
{% endblock %}
{% block content %}
<div class="container">
  <h1 class= "pb-4"style= "font-weight: 800;">Budgets</h1>
  <div class="card bg-light">
    <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:center; width:auto"></th>
            <th style="text-align:center; width:30%"></th>
            <th style="text-align:center; width:30%"></th>
          </tr>
        </thead>
          <tr style = "font-weight: 800;">
            <td style="text-align:center">Categories</td>
            <td style="text-align:center"></td>
            <td style="text-align:center">Start date</td>
            <td style="text-align:center">End date</td>
          </tr>
        {%if budget%}
        {% for spendings in budget %}
          <tr>
              <td style="text-align:center">{{ spendings.name }}</td>
              {% if spendings.spent > spendings.budget %}
                <td style="text-align:center; color: red">{{ spendings.spent_text }}</td>
              {% elif spendings.spent >= spendings.ninty_percentage_of_budget %}
                <td style="text-align:center; color: darkorange">{{ spendings.spent_text }}</td>
              {% else %}
                <td style="text-align:center">{{ spendings.spent_text }}</td>
              {% endif %}
              <td style="text-align:center">{{ spendings.start_date }}</td>
              <td style="text-align:center">{{ spendings.end_date }}</td>
          </tr>
        {% endfor %}
        {% endif %}
  </div>
  </table>
</div>
<a href = "{% url 'category_list' %}" class = "btn btn-lg custom-button" role = "button"> <i class = "bi bi-arrow-left-circle-fill"></i> All Categories </a>
{% endblock %}