{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <h1>Budgets</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:center; width:auto"></th>
            <th style="text-align:center; width:30%"></th>
            <th style="text-align:center; width:30%"></th>
          </tr>
        </thead>
          <tr>
            <td style="text-align:center">Categories</td>
            <td style="text-align:center"></td>
            <td style="text-align:center">Start date</td>
            <td style="text-align:center">End date</td>
          </tr>
        {% for spendings in budget %}
          <tr>
              <td style="text-align:center">{{ spendings.name }}</td>
              <td style="text-align:center">{{ spendings.spent_text }}</td>
              <td style="text-align:center">{{ spendings.start_date }}</td>
              <td style="text-align:center">{{ spendings.end_date }}</td>
          </tr>
        {% endfor %}
  </table>
</div>
{% endblock %}