{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <h1>Friends</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:center; width:auto"></th>
            <th style="text-align:center; width:30%"></th>
            <th style="text-align:center; width:30%"></th>
          </tr>
        </thead>
        {% if friends %}
          {% for friend in friends %}
          <td>
                <td style="text-align:center">{{friend}}</td>
                <td><form action="{% url 'unfriend' friend.id %}" method="post">
                    {% csrf_token %}
                    <td style="text-align:center"><input type="submit" value="Unfriend"  class="btn btn-primary"/>
                </td>
                  </form>
          </td>
          
        </tr>
          {% endfor %}
        {% else %}
          <tr>
              <td colspan=4 style="text-align:left">You have no friends... </td>
          </tr>
          {% endif %}
      </table>
</div>
{% endblock %}
