{% extends 'base_content.html' %}
{% block content %}
{% load static %}

<div >
    <h2>Getting Started</h2>
    <p>Here are some basic steps to get started using <strong>minted</strong>:</p>
    <ul>
        <li><strong>Step 1:</strong> Create some spending categories by clicking on Categories.</li>
        <li><strong>Step 2:</strong> Now you can add some expenditures by clicking on the desired category and then clicking Add Expenditure.</li>
        <li><strong>Step 3:</strong> Your overall budget overview will show up on your homepage.</li>
        <li><strong>Step 4:</strong> If you want to see some more detailed charts, click on Analytics.</li>
    </ul>

    <h2>Frequently Asked Questions</h2>
    <ul>
        <li>
            <strong>Question 1: How many categories can I have?</strong>
            <p>As many as you want!</p>
        </li>
        <li>
            <strong>Question 2: What are points?</strong>
            <p>Points are awarded every day for simply logging in. You also get more points if you log in everyday! You can redeem points for rewards in the reward shop.</p>
        </li>
        <li>
            <strong>Question 3: How will minted keep me on track to meet my goals?</strong>
            <p>You will get notifications if you are close to exceeding or exceed your budgets and 
                you will get extra points for staying within your budgets. </p>
        </li>
    </ul>


    <h2>Contact Us</h2>
    <p>If you need further assistance, please feel free to reach out to our support team:</p>
    <p><strong>Email:</strong> support@minted.com</p>
    <p><strong>Phone:</strong> +1 (555) 123-4567</p>
</div>




{% endblock %}