{% extends 'base_content.html' %}
{% block content %}
    <div class="container">
        <section class = "p-5 text-center">
            <div class="container">
                <div class="div">
                    <div class="div">
                        <h1 style = "font-size: 40px;">
                            <span style ="color: white">It's time to get </span>
                            <span style = "color: #C697E3; font-weight: 800;">minted</span>
                        </h1>
                        <p style="color: white; font-size: 18px">
                            Want to get rewarded for <em>not</em> spending money?
                            Start tracking your finances with minted today!
                        </p>
                        <button class = "btn btn-lg" style="background-color: #C697E3; color : white">Get Started</button>
                    </div>
                </div>
            </div>
                
        </section>

    </div>
{% endblock %}